<h1>Pirate and Ship Form</h1>

<<<<<<< HEAD
<form action="/pirates" method="post" >
=======
<form method="post" action="/">
>>>>>>> 6bf1e72dd78da92f91018b98098431b5dcebfc50
  <label>Pirate Name: </label><input type="text" name="pirate[name]">
  <label>Pirate Weight: </label><input type="text" name="pirate[weight]">
  <label>Pirate Height: </label><input type="text" name="pirate[height]">
  
<<<<<<< HEAD
  <label>Ship 1 Name: </label><input id = "ship_name_1" type="text" name="pirate[ships][][name]">
  <label>Ship 1 Type: </label><input id ="ship_type_1" type="text" name="pirate[ships][][type]">
  <label>Ship 1 Booty: </label><input id= "ship_booty_1" type="text" name="pirate[ships][][booty]">
  
  <label>Ship 2 Name: </label><input id = "ship_name_2" type="text" name="pirate[ships][][name]">
  <label>Ship 2 Type: </label><input id = "ship_type_2" type="text" name="pirate[ships][][type]">
  <label>Ship 2 Booty: </label><input id = "ship_booty_2" type="text" name="pirate[ships][][booty]">
=======
  <label>Ship Name: </label><input id = "ship_name_1" type="text" name="pirate[ships][][name]">
  <label>Ship Type: </label><input id ="ship_type_1" type="text" name="pirate[ships][][type]">
  <label>Ship Booty: </label><input id= "ship_booty_1" type="text" name="pirate[ships][][booty]">
  
  <label>Ship Name: </label><input id = "ship_name_2" type="text" name="pirate[ships][][name]">
  <label>Ship Type: </label><input id = "ship_type_2" type="text" name="pirate[ships][][type]">
  <label>Ship Booty: </label><input id = "ship_booty_2" type="text" name="pirate[ships][][booty]">
>>>>>>> 6bf1e72dd78da92f91018b98098431b5dcebfc50

  <input type="submit" id="Submit">
</form>